<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mapzip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mapzip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <mapzip.Properties.Settings>
            <setting name="ProductFriendlyName" serializeAs="String">
                <value>MapZip Installer</value>
            </setting>
            <setting name="Text_Welcome" serializeAs="String">
                <value>{0} (v{1}) by Jacob Jewett.</value>
            </setting>
            <setting name="Text_ReadingConfig" serializeAs="String">
                <value>Reading configuration...</value>
            </setting>
            <setting name="Text_Licence" serializeAs="String">
                <value>Licenced under GNU General Public Licence v3.0</value>
            </setting>
            <setting name="Text_ErrConfigSyntax" serializeAs="String">
                <value>Config file empty or syntax malformed; Please report this to the mapmaker. Raw message: </value>
            </setting>
            <setting name="Text_ErrConfigVersionMismatch" serializeAs="String">
                <value>Config file layout mismatch. Local layout version 1, config verision {0}. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_ConfigReadSuccess" serializeAs="String">
                <value>Config file parsed with no errors.</value>
            </setting>
            <setting name="Text_InstallConfirmation" serializeAs="String">
                <value>Are you sure you want to install the map "{0}" by {1} (v{2})? (Y or N)</value>
            </setting>
            <setting name="Text_InstallNoticeGameSave" serializeAs="String">
                <value>!!! Save your game as it will be closed forcibly if not exited now. !!!</value>
            </setting>
            <setting name="Text_Thanks" serializeAs="String">
                <value>Thanks for using {0} v{1}! Press any key to exit...</value>
            </setting>
            <setting name="Text_Tags" serializeAs="String">
                <value>MAPZIP,ERROR,CONFIG,INSTALLER,IO,AUTHENTICATION,CLI</value>
            </setting>
            <setting name="Text_Separator" serializeAs="String">
                <value>------------------------------------------------------------</value>
            </setting>
            <setting name="Text_ErrProfileMissing" serializeAs="String">
                <value>The profile zip was not found. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_ErrArgumentErrors" serializeAs="String">
                <value>Argument parsing failed, errors returned. Raw message:</value>
            </setting>
            <setting name="Text_NotImplemented" serializeAs="String">
                <value>This feature is not implemented yet.</value>
            </setting>
            <setting name="Text_ArgumentsHelpText" serializeAs="String">
                <value>Usage:@[--help]: Displays this help text.@[-c,--config]: Specify a custom config file path.@[-d,--data]: Specify a custom profile data path.@[-s,--silent]: Bypass confirmation message.@[-u,--uninstall]: Uninstall the map this installer unpacks.</value>
            </setting>
            <setting name="Text_ErrConfigMissing" serializeAs="String">
                <value>The configuration file could not be located at {0}. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_InstBegin" serializeAs="String">
                <value>Beggining install proccess. </value>
            </setting>
            <setting name="Text_InstVerifyGameDir" serializeAs="String">
                <value>Verifying game directory...</value>
            </setting>
            <setting name="Text_InstGameDirMissing" serializeAs="String">
                <value>Game directory missing. Please try running the Minecraft launcher once before using this installer.</value>
            </setting>
            <setting name="Text_InstExistingFound" serializeAs="String">
                <value>Exising installation of map found. Removing and reinstalling.</value>
            </setting>
            <setting name="Text_InstManifestMissing" serializeAs="String">
                <value>Existing manifest not found. Creating.</value>
            </setting>
            <setting name="Text_InstUpdatingManifest" serializeAs="String">
                <value>Updating manifest with new map info.</value>
            </setting>
            <setting name="Text_InstUpdatingProfiles" serializeAs="String">
                <value>Adding new profile to launcher.</value>
            </setting>
            <setting name="Text_InstCreatingProfile" serializeAs="String">
                <value>Updating launcher profiles list.</value>
            </setting>
            <setting name="Text_InstUnzippingProfile" serializeAs="String">
                <value>Unzipping internal profile copy.</value>
            </setting>
            <setting name="Text_InstSettingDefaults" serializeAs="String">
                <value>Setting default user options from existing since once was not provided.</value>
            </setting>
            <setting name="Text_InstCompleted" serializeAs="String">
                <value>Installation completed.</value>
            </setting>
            <setting name="Text_InstCopying" serializeAs="String">
                <value>Copying internal profile to new profile in game directory.</value>
            </setting>
            <setting name="Text_ConfEmpty" serializeAs="String">
                <value>Config file was empty. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_ErrSchemaNameMissing" serializeAs="String">
                <value>Could not find schema name "{0}" in dictionary. Please report this to the mapmaker and developer.</value>
            </setting>
            <setting name="Text_ErrLauncherLayoutMismatch" serializeAs="String">
                <value>Launcher profiles structure version mismatch. Please report this to the mapmaker and developer.</value>
            </setting>
        </mapzip.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <mapzip.Properties.Settings>
            <setting name="Text_InstGameDirFound" serializeAs="String">
                <value>Found game directory.</value>
            </setting>
            <setting name="Text_InstAborted" serializeAs="String">
                <value>The installer aborted operation unexpectedly. Please report this to the mapmaker including the installer version ({0}), the installer log file or console output, the map you are attempting to install ({1}) and your basic system info.</value>
            </setting>
            <setting name="Text_LauncherFileMissing" serializeAs="String">
                <value>Launcher configuration file was not found. Please attempt to launch the Minecraft launcher first/again before running this installer.</value>
            </setting>
        </mapzip.Properties.Settings>
    </userSettings>
</configuration>