<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mapzip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <mapzip.Properties.Settings>
            <setting name="ProductFriendlyName" serializeAs="String">
                <value>MapZip Installer</value>
            </setting>
            <setting name="Text_Welcome" serializeAs="String">
                <value>{0} (v{1}) by Jacob Jewett.</value>
            </setting>
            <setting name="Text_ReadingConfig" serializeAs="String">
                <value>Reading configuration...</value>
            </setting>
            <setting name="Text_Licence" serializeAs="String">
                <value>Licenced under GNU General Public Licence v3.0</value>
            </setting>
            <setting name="Text_ErrConfigSyntax" serializeAs="String">
                <value>Config file empty or syntax malformed; Please report this to the mapmaker. Raw message: </value>
            </setting>
            <setting name="Text_ErrConfigVersionMismatch" serializeAs="String">
                <value>Config file version mismatch. Application version {0}, config verision {1}. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_ConfigReadSuccess" serializeAs="String">
                <value>Config file parsed with no errors.</value>
            </setting>
            <setting name="Text_LicenceAgreementHeader" serializeAs="String">
                <value>Licence Agreement</value>
            </setting>
            <setting name="Text_InstallConfirmation" serializeAs="String">
                <value>Are you sure you want to install the map "{0}" by {1} (v{2})? (Y or N)</value>
            </setting>
            <setting name="Text_InstallNoticeGameSave" serializeAs="String">
                <value>Tip: Save your game as it will be closed forcibly if not exited now.</value>
            </setting>
            <setting name="Text_Thanks" serializeAs="String">
                <value>Thanks for using {0} v{1}! Press any key to exit...</value>
            </setting>
            <setting name="Text_Tags" serializeAs="String">
                <value>MAPZIP,ERROR,CONFIG,INSTALLER,IO,AUTHENTICATION,CLI</value>
            </setting>
            <setting name="Text_Separator" serializeAs="String">
                <value>------------------------------------------------------------</value>
            </setting>
            <setting name="Text_ErrProfileMissing" serializeAs="String">
                <value>The profile zip was not found. Please report this to the mapmaker.</value>
            </setting>
            <setting name="Text_ErrArgumentErrors" serializeAs="String">
                <value>Argument parsing failed, errors returned. Raw message:</value>
            </setting>
            <setting name="Text_NotImplemented" serializeAs="String">
                <value>This feature is not implemented yet.</value>
            </setting>
            <setting name="Text_ArgumentsHelpText" serializeAs="String">
                <value>Usage:@[--help]: Displays this help text.@[-c,--config]: Specify a custom config file path.@[-d,--data]: Specify a custom profile data path.@[-s,--silent]: Dont print console messages and bypass confirmation.@[-u,--uninstall]: Uninstall the map this installer unpacks.</value>
            </setting>
            <setting name="Text_ErrConfigMissing" serializeAs="String">
                <value>The configuration file could not be located at {0}. Please report this to the mapmaker.</value>
            </setting>
        </mapzip.Properties.Settings>
    </applicationSettings>
</configuration>